@layout('base')

@section('content')
  <article class="page">
    <header class="page-header">
      <h1>{{ page.title ?? page.frontMatter?.title ?? '' }}</h1>
    </header>
    <div class="page-content">
      {{{ page.content }}}
    </div>
  </article>
@end
